body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Pangea Text', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(210, 247, 241) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*   floating action button*/

.fab {
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 1000;
}



